[Unit]
Description=SmartCam Soccer Camera Service
After=network.target
Requires=scheduler.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SmartCam-Soccer/backend
Environment=PYTHONPATH=/home/pi/SmartCam-Soccer/backend
ExecStart=/usr/bin/python3 -m src.camera
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 