[Unit]
Description=SmartCam Soccer Camera Manager Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/michomanoly14892/code/SmartCam-Soccer/backend/SmartCam-Soccer/backend
Environment="VIRTUAL_ENV=/home/michomanoly14892/code/SmartCam-Soccer/backend/SmartCam-Soccer/backend/venv"
Environment="PYTHONPATH=/home/michomanoly14892/code/SmartCam-Soccer/backend/SmartCam-Soccer/backend"
EnvironmentFile=/home/michomanoly14892/code/SmartCam-Soccer/backend/SmartCam-Soccer/backend/.env
ExecStart=/home/michomanoly14892/code/SmartCam-Soccer/backend/SmartCam-Soccer/backend/venv/bin/python manage_cameras.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 