[Unit]
Description=SmartCam Soccer Status Service
After=network.target
PartOf=smartcam.service

[Service]
Type=simple
User=michomanoly14892
WorkingDirectory=/home/michomanoly14892/code/SmartCam-Soccer/backend
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/michomanoly14892/code/SmartCam-Soccer/backend/.env
ExecStartPre=/usr/bin/env > /tmp/env_dump.txt
ExecStart=/home/michomanoly14892/code/SmartCam-Soccer/backend/venv/bin/python update_system_status.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smartcam-status

[Install]
WantedBy=multi-user.target 