[Unit]
Description=SmartCam Soccer Camera Manager Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/michomanoly14892/code/SmartCam-Soccer/backend
Environment=PATH=/home/michomanoly14892/code/SmartCam-Soccer/backend/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONPATH=/home/michomanoly14892/code/SmartCam-Soccer/backend
ExecStart=/home/michomanoly14892/code/SmartCam-Soccer/backend/venv/bin/python manage_cameras.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 