[Unit]
Description=SmartCam Soccer Manager Service
After=network.target
PartOf=smartcam.service

[Service]
Type=simple
User=michomanoly14892
WorkingDirectory=/home/michomanoly14892/code/SmartCam-Soccer/backend
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/michomanoly14892/code/SmartCam-Soccer/backend/.env
ExecStart=/home/michomanoly14892/code/SmartCam-Soccer/backend/venv/bin/python manage_cameras.py
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smartcam-manager

[Install]
WantedBy=multi-user.target 